version: "3.7"
services:
  adguardhome:
    image: adguard/adguardhome
    container_name: adguardhome
    ports:
      - "53:53/tcp"  # Puerto estándar de DNS
      - "53:53/udp"  # Puerto estándar de DNS
      - "8081:80/tcp" # Panel de admin (accederás por el puerto 8081)
    volumes:
      - ./workdir:/opt/adguardhome/work
      - ./confdir:/opt/adguardhome/conf
    restart: unless-stopped